extends layout

block content
 
  body(class="body-bkimg")
    div(class="dash")
        h1() Dashboard

  

        h2 Hi, #{name}
        h4.
            First Name :#{firstname} 
        br
        h4.
            Last Name :#{lastname}
        br
        h4 Gender :#{gender}
        br 
        h6 facebookid :#{fbid}      
       
 

        a(href="/logout",class="logout") Logout !

  